@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.carrinho-section { 
  display: flex;
  justify-content: center;
}

.carrinho {
  background: #fff;
  width: 73.7vw;
  height: 50vh;

  margin-top: 80px;
}

.titulo-carrinho {
  margin: 10px 0 0 20px;
  color: rgb(29, 29, 29);
  font-size: 22px;
  font-weight: 500;
}

.rodape {
  margin-top: 15px;
}

.carrinho-lista {
  list-style: none;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #C1C1C1;
  border-bottom: solid 1px #C1C1C1;
}

.item {
  display: flex;
  justify-content: space-around;
}

.item input {
  align-self: center;
}

.item img{ 
  width: 100px;
}

.item p {
  width: 300px;
  align-self: center;
}

.item h5 {
  align-self: center;
}

.carrossel img{
  display: none
}