@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #303030;
  display: flex;
  justify-content: center;
}

.box-container {
  width: 35vw;
  height: 50vh;
  background: white;

  display: flex;
  justify-content: center;

  margin: 15% 0;
  background-color: #404040;


  border-radius: 15px;
  border: solid #e2e2e2 0.1em;
  box-shadow: 0px 0px 1.5em #e2e2e2;
}

.login-box{
  width: 30vw;
  height: 45vh;  

  display: flex;
  justify-content: center;
  flex-direction: column;


  margin-top: 2.5vh;
  
  background-color: #404040;
}

.login-box input{
  width: 20vw;
  height: 4vh;

  align-self: center;

  border-style: none;
  
  text-align: center;
}

.login-box label {
  margin-left: 4.9vw;
  padding-bottom: 10px;
  padding-top: 10px;

  font-size: 18px;
  font-weight: 500;
  color: #e2e2e2;
}

.entrar-btn {
  width: 14vw;
  height: 5vh;
  color: #404040;

  font-size: 18px;
  font-weight: 500;

  margin-top: 45px;

  align-self: center;
  border-style: none;
}